@media (max-width: 1200px)
    .nav_menu_item
            padding-right: 20px
    .nav_menu_link
            font-size: 13px

    .sub_header_tel_num
        .tel_desc
                font-size: 11px
        .tel_num
                font-size: 18px

    .sub_header
            .sub_header_logo
                    margin-top: 8px
    
    .promo
        h1
            font-size: 55px

        .promo_subheader
            font-size: 32px

    .mobile_item
        width: 300px
    .mobile_item
        margin-top: 19px
    
    .footer_wrapper > div:nth-child(1)
        width: 16%

    .footer_wrapper > div:nth-child(3)
        width: 20%
        justify-content: center

    .footer_mobile a
        display: block
        margin: 5px auto

@media (max-width: 991px)
    header nav
        padding: 13px 0

    .nav_menu_item
            padding-right: 7px

    .sub_header
            .sub_header_logo
                    margin-top: -8px

    .promo
        padding-top: 150px

        h1
            font-size: 45px
        .promo_desc
            font-size: 16px

    .promo_subheader
            font-size: 30px
    
    .causes .causes_item
        display: block
        .causes_img_wrap
            margin: 0 auto
        .causes_desc
            margin-top: 10px
            width: 320px
    
    .mobile_item
        width: 330px

    .require
        ul
            li
                margin-bottom: 5px

    .footer_links
        width: 330px

    .footer_divider
        width: 230px
        
        


    



